.product-width-mobile {
    width: 96%;
}

#product-img-1 {
    max-width: 100%;
    max-height: 400px;
}

#product-img-container-1 {
    width: 100%;
    max-height: 400px;
}

#product-img-2 {
    max-width: 100%;
    max-height: 100%;
}

#product-img-container-2 {
    width: 400px;
    height: 400px;
}

.product-desc {
    width: 300px;
}

#product-container {
    width: 700px;
}

#product-tags {
    white-space: pre-line;
    font-size: 14px;
}

#product-reviews {
    /* ensures the fixed header does not cover the top of reviews when scrolled down to, 
    scroll-margin-top does not work on safari but this solution works for all browsers */
    /* 70px is the specific height needed to not be covered by this header */
    padding-top: 70px;
    margin-top: -70px;
}
