html {
    position: relative;
    min-height: 100%;
}

* {
    border-radius: 0 !important;
}

body {
    background: rgb(247, 247, 247) !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0 !important;
}

/*a {
    color: rgb(174, 33, 99) !important;
}

a:hover {
    color: rgb(148, 27, 84);
}*/

#main {
    margin-top: 90px;
    margin-bottom: 380px !important;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #535353 transparent #535353 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 991px) {
    #main {
        margin-bottom: 500px !important;
    }
}

@media only screen and (max-width: 767.4px) {
    #main {
        margin-bottom: 800px !important;
    }
}

@media only screen and (max-width: 450px) {
    #main {
        margin-bottom: 900px !important;
    }
}

@media only screen and (max-width: 230px) {
    #main {
        margin-bottom: 1000px !important;
    }
}

@media only screen and (max-width: 212px) {
    #main {
        margin-top: 125px;
    }
}

@media only screen and (max-width: 180px) {
    #main {
        margin-bottom: 1200px !important;
    }
}
